# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.venv_ubuntu/

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/

# Ignore generated images
Graph_Image/
*.png
